@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fffcf7;
}

/* Esconde as setas de incrementar e decrementar no input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.text-newsletter {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  line-height: 3.5rem;
}
